.drawer-component {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: white;
    z-index: 999;
}

.drawer-component button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    padding: 16px 0px;
}

.drawer-component button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.drawer-component hr {
    border: 1px solid #e0e0e0;
}